In [1]:
import pandas

In [2]:
dtxt = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.txt")

In [3]:
dtxt

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [5]:
dtxt2 = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees2.txt", delimiter = '|')

In [6]:
dtxt2

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Test,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [7]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv")
dcsv

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [8]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv", header = None)
dcsv

,0,1,2,3,4,5,6,7
0,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
1,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
2,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
3,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
4,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
5,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
6,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
7,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
8,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
9,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
10,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [9]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv", header = None, names = ['A','B','C','D','E','F','G', 'H'])
dcsv

,A,B,C,D,E,F,G,H
0,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
1,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
2,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
3,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
4,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
5,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
6,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
7,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
8,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
9,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
10,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [10]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv", header = None, prefix = 'COL')
dcsv

,COL0,COL1,COL2,COL3,COL4,COL5,COL6,COL7
0,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
1,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
2,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
3,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
4,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
5,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
6,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
7,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
8,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
9,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
10,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [11]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv")
dcsv

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [12]:
dcsv.set_index("ID")
dcsv

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [13]:
dcsv.set_index("ID", inplace = True)
dcsv

,FirstName,LastName,Department,Phone,Address,Salary,Skills
ID,,,,,,,
1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [14]:
dcsv.set_index('Address', inplace = True)

In [15]:
dcsv

,FirstName,LastName,Department,Phone,Salary,Skills
Address,,,,,,
"1st Address, Miami",Luke,Phillip,Sales,1234567890,52000,Online Sales
"2nd Address, Miami",Jack,Darren,IT,1234567891,52200,Networking
"3rd Address, Miami",Ken,Wood,IT,1234567892,58000,"Python, Java"
"4th Address, Miami",John,Wilson,Marketing,1234567893,58700,Facebook Ads
"5th Address, Miami",Emily,Larson,Marketing,1234567894,60000,Instagram Ads
"6th Address, Miami",Anna,Sullivan,Sales,1234567895,54000,In-Person Sales
"7th Address, Miami",Richard,Smith,Logistics,1234567896,56000,Warehouse Mgmt.
"8th Address, Miami",Ronnie,Moore,Sales,1234567897,49000,Online Sales
"9th Address, Miami",Ron,Drake,IT,1234567898,53000,Linux Servers
"10th Address, Miami",Wayne,Barker,Logistics,1234567899,59500,Product Loading

In [16]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv")
dcsv

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [17]:
dcsv.shape

(10, 8)

In [18]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv", skiprows = 4)
dcsv

,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
0,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
1,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
2,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
3,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
4,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
5,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [19]:
dcsv = pandas.read_csv("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.csv", nrows = 5)
dcsv

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads

In [20]:
djson = pandas.read_json("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.json")
djson

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [22]:
dxlsx = pandas.read_excel("/Users/hrobbin/projects/python/data_analysis/srcs/Employees.xlsx")
dxlsx

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [23]:
url = 'https://en.wikipedia.org/wiki/Python_(programming_language)'

In [24]:
d = pandas.read_html(url)
d

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1091)>

In [27]:
url = 'https://en.wikipedia.org/wiki/Python_(programming_language)'
d = pandas.read_html(url)
d

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1091)>

In [28]:
import ssl 

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

In [29]:
url = 'https://en.wikipedia.org/wiki/Python_(programming_language)'
d = pandas.read_html(url)
d

[                                                    0  \
 0                                                 NaN
 1                                            Paradigm
 2                                         Designed by
 3                                           Developer
 4                                      First appeared
 5                                                 NaN
 6                                      Stable release
 7                                   Typing discipline
 8                                                  OS
 9                                             License
 10                                Filename extensions
 11                                            Website
 12                              Major implementations
 13  CPython, PyPy, Stackless Python, MicroPython, ...
 14                                           Dialects
 15                       Cython, RPython, Starlark[9]
 16                                      Influenced by
 17  ABC,[10] Ada,[11] ALGOL 68,[12] APL,[13] C,[14...
 18                                         Influenced
 19  Apache Groovy, Boo, Cobra, CoffeeScript,[22] D...
 20                    Python Programming at Wikibooks

                                                     1
 0                                                 NaN
 1   Multi-paradigm: object-oriented,[1] procedural...
 2                                    Guido van Rossum
 3                          Python Software Foundation
 4                  February 20, 1991; 30 years ago[2]
 5                                                 NaN
 6                3.9.6[3] / 28 June 2021; 45 days ago
 7   Duck, dynamic, strong typing;[4] gradual (sinc...
 8              Windows, Linux/UNIX, macOS and more[6]
 9                  Python Software Foundation License
 10  .py, .pyi, .pyc, .pyd, .pyo (prior to 3.5),[7]...
 11                                     www.python.org
 12                              Major implementations
 13  CPython, PyPy, Stackless Python, MicroPython, ...
 14                                           Dialects
 15                       Cython, RPython, Starlark[9]
 16                                      Influenced by
 17  ABC,[10] Ada,[11] ALGOL 68,[12] APL,[13] C,[14...
 18                                         Influenced
 19  Apache Groovy, Boo, Cobra, CoffeeScript,[22] D...
 20                    Python Programming at Wikibooks  ,
                    Type Mutability  \
 0                  bool  immutable
 1             bytearray    mutable
 2                 bytes  immutable
 3               complex  immutable
 4                  dict    mutable
 5             ellipsisa  immutable
 6                 float  immutable
 7             frozenset  immutable
 8                   int  immutable
 9                  list    mutable
 10            NoneTypea  immutable
 11  NotImplementedTypea  immutable
 12                range  immutable
 13                  set    mutable
 14                  str  immutable
 15                tuple  immutable

                                           Description  \
 0                                       Boolean value
 1                                   Sequence of bytes
 2                                   Sequence of bytes
 3        Complex number with real and imaginary parts
 4   Associative array (or dictionary) of key and v...
 5   An ellipsis placeholder to be used as an index...
 6   Double-precision floating-point number. The pr...
 7   Unordered set, contains no duplicates; can con...
 8                 Integer of unlimited magnitude[101]
 9                       List, can contain mixed types
 10  An object representing the absence of a value,...
 11  A placeholder that can be returned from overlo...
 12  A Sequence of numbers commonly used for loopin...
 13  Unordered set, contains no duplicates; can con...
 14  A character string: sequence of Unicode codepo...
 15                            Can contain mixed types

                                       Syntax examples
 0                                           TrueFalse
 1   bytearray(b'Some ASCII')bytearray(b"Some ASCII...
 2   b'Some ASCII'b"Some ASCII"bytes([119, 105, 107...
 3                                      3+2.7j3 + 2.7j
 4                           {'key1': 1.0, 3: False}{}
 5                                         ...Ellipsis
 6                                               1.414
 7                    frozenset([4.0, 'string', True])
 8                                                  42
 9                             [4.0, 'string', True][]
 10                                               None
 11                                     NotImplemented
 12                      range(1, 10)range(10, -5, -2)
 13                         {4.0, 'string', True}set()
 14  'Wikipedia'"Wikipedia""""Spanning multiple lin...
 15         (4.0, 'string', True)('single element',)()  ,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vtePython  \
 0                                    Implementations
 1                                                IDE
 2                                             Topics
 3   software (list) Python Software Foundation PyCon

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vtePython.1  \
 0  CircuitPython CLPython CPython Cython MicroPyt...
 1  Boa Eric Python IDE IDLE PyCharm PyDev Ninja-I...
 2                                               WSGI
 3   software (list) Python Software Foundation PyCon

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vtePython.2
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3   software (list) Python Software Foundation PyCon                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ,
                             vteProgramming languages  \
 0                        Comparison Timeline History
 1  Ada ALGOL APL Assembly BASIC C C++ C# COBOL Er...
 2  Category  Lists: Alphabetical Categorical Gene...

                           vteProgramming languages.1
 0                        Comparison Timeline History
 1  Ada ALGOL APL Assembly BASIC C C++ C# COBOL Er...
 2  Category  Lists: Alphabetical Categorical Gene...  ,
                             vtePython web frameworks  \
 0  Bottle CherryPy CubicWeb Django FastAPI Flask ...

                           vtePython web frameworks.1
 0  Bottle CherryPy CubicWeb Django FastAPI Flask ...  ,
                           vteDifferentiable computing  \
 0                                             General
 1                                            Concepts
 2                               Programming languages
 3                                         Application
 4                                            Hardware
 5                                    Software library
 6                                      Implementation
 7                                        Audio-visual
 8                                              Verbal
 9                                          Decisional
 10                                             People
 11                                      Organizations
 12  Portals Computer programming Technology  Categ...

                         vteDifferentiable computing.1  \
 0   Differentiable programming Neural Turing machi...
 1   Gradient descent SGD Clustering Regression Ove...
 2                                        Python Julia
 3   Machine learning Artificial neural network Dee...
 4                     IPU TPU VPU Memristor SpiNNaker
 5                     TensorFlow PyTorch Keras Theano
 6   Audio-visual AlexNet WaveNet Human image synth...
 7   AlexNet WaveNet Human image synthesis HWR OCR ...
 8   Word2vec Transformer BERT NMT Project Debater ...
 9   AlphaGo Q-learning SARSA OpenAI Five Self-driv...
 10  Alex Graves Ian Goodfellow Yoshua Bengio Geoff...
 11   DeepMind OpenAI MIT CSAIL Mila Google Brain FAIR
 12  Portals Computer programming Technology  Categ...

                         vteDifferentiable computing.2
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Portals Computer programming Technology  Categ...  ,
               0                                                  1
 0  Audio-visual  AlexNet WaveNet Human image synthesis HWR OCR ...
 1        Verbal  Word2vec Transformer BERT NMT Project Debater ...
 2    Decisional  AlphaGo Q-learning SARSA OpenAI Five Self-driv...,
   vteFree and open-source software  \
 0                          General
 1                 Softwarepackages
 2                        Community
 3                         Licenses
 4              Types and standards
 5                       Challenges
 6                   Related topics
 7                 Portal  Category

                   vteFree and open-source software.1
 0  Alternative terms for free software Comparison...
 1  Audio Bioinformatics Codecs Configuration mana...
 2  Free software movement History Open-source-sof...
 3  AFL Apache APSL Artistic Beerware BSD Creative...
 4  Comparison of licenses Contributor License Agr...
 5  Digital rights management Hardware restriction...
 6  Forking GNU Manifesto Microsoft Open Specifica...
 7                                   Portal  Category  ,
                      0                                                  1
 0  Types and standards  Comparison of licenses Contributor License Agr...,
   vteStatistical software                          vteStatistical software.1
 0           Public domain                 Dataplot Epi Info CSPro X-12-ARIMA
 1             Open-source  ADMB DAP gretl JASP JAGS JMulTi Julia Jupyter ...
 2                Freeware                BV4.1 CumFreq SegReg XploRe WinBUGS
 3              Commercial  Cross-platform Data Desk GAUSS GraphPad InStat...
 4          Cross-platform  Data Desk GAUSS GraphPad InStat GraphPad Prism...
 5            Windows only  BMDP EViews GenStat LIMDEP LISREL MedCalc Micr...
 6           Excel add-ons  Analyse-it SigmaXL UNISTAT for Excel XLfit RExcel
 7     Category Comparison                                Category Comparison,
                 0                                                  1
 0  Cross-platform  Data Desk GAUSS GraphPad InStat GraphPad Prism...
 1    Windows only  BMDP EViews GenStat LIMDEP LISREL MedCalc Micr...
 2   Excel add-ons  Analyse-it SigmaXL UNISTAT for Excel XLfit RExcel,
   vteNumerical analysis software  \
 0                           Free
 1                    Proprietary
 2                     Comparison

                     vteNumerical analysis software.1
 0  Advanced Simulation Library ADMB Chapel Euler ...
 1  DADiSP FEATool Multiphysics GAUSS LabVIEW Mapl...
 2                                         Comparison  ,
     Authority control                                Authority control.1
 0             General                Integrated Authority File (Germany)
 1  National libraries                        France (data) United States
 2               Other  Faceted Application of Subject Terminology Mic...]

In [30]:
d[2]

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vtePython",".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vtePython.1",".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vtePython.2"
0,Implementations,CircuitPython CLPython CPython Cython MicroPyt...,NaN
1,IDE,Boa Eric Python IDE IDLE PyCharm PyDev Ninja-I...,NaN
2,Topics,WSGI,NaN
3,software (list) Python Software Foundation PyCon,software (list) Python Software Foundation PyCon,software (list) Python Software Foundation PyCon

In [31]:
d = pandas.read_html(url)[1]

In [32]:
d

,Type,Mutability,Description,Syntax examples
0,bool,immutable,Boolean value,TrueFalse
1,bytearray,mutable,Sequence of bytes,"bytearray(b'Some ASCII')bytearray(b""Some ASCII..."
2,bytes,immutable,Sequence of bytes,"b'Some ASCII'b""Some ASCII""bytes([119, 105, 107..."
3,complex,immutable,Complex number with real and imaginary parts,3+2.7j3 + 2.7j
4,dict,mutable,Associative array (or dictionary) of key and v...,"{'key1': 1.0, 3: False}{}"
5,ellipsisa,immutable,An ellipsis placeholder to be used as an index...,...Ellipsis
6,float,immutable,Double-precision floating-point number. The pr...,1.414
7,frozenset,immutable,"Unordered set, contains no duplicates; can con...","frozenset([4.0, 'string', True])"
8,int,immutable,Integer of unlimited magnitude[101],42
9,list,mutable,"List, can contain mixed types","[4.0, 'string', True][]"
10,NoneTypea,immutable,"An object representing the absence of a value,...",None
11,NotImplementedTypea,immutable,A placeholder that can be returned from overlo...,NotImplemented
12,range,immutable,A Sequence of numbers commonly used for loopin...,"range(1, 10)range(10, -5, -2)"
13,set,mutable,"Unordered set, contains no duplicates; can con...","{4.0, 'string', True}set()"
14,str,immutable,A character string: sequence of Unicode codepo...,"'Wikipedia'""Wikipedia""""""""Spanning multiple lin..."
15,tuple,immutable,Can contain mixed types,"(4.0, 'string', True)('single element',)()"